*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    margin: 10px;
    height: 100%;
    /* width: 100vh; */
    display: flex;
    align-items: center;   
    gap: 10px; 
}

.grid-settings{
    border: red solid 2px;
    height: 800px;
    width: 420px;
}

.grids{
    border: solid red 2px;
    height: 760px;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: auto;
    gap: 10px;
    align-items: center;
}
.mid{
    border: 2px red solid;
    height: 750px;
    width: 750px;
    /* height: 500px ; */
    display: grid;
    /* grid-template-columns:repeat(2,auto); */
}
.tiles{
    /* border: blue 2px solid; */
    background-color: rgb(255, 255, 255);
}

.borders{
    border-right: 1px grey solid;
    border-top: 1px grey solid;
}

